[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
python-dotenv = "*"
web3 = "*"
"discord.py" = "*"
nucypher = {git = "https://github.com/derekpierre/nucypher.git", ref = "cross-chain"}


[dev-packages]

[requires]
python_version = "3.10"
