[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
python-dotenv = "*"
web3 = "*"
"discord.py" = "*"
nucypher = ">=7.4.1"


[dev-packages]

[requires]
python_version = "3.10"
