-i https://pypi.org/simple
abnf==2.4.0; python_version >= '3.9'
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.15; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
annotated-types==0.7.0; python_version >= '3.8'
appdirs==1.4.4; python_version >= '3.9' and python_version < '4'
attrs==25.3.0; python_version >= '3.8'
atxm==0.5.0; python_version >= '3.9'
autobahn==24.4.2; python_version >= '3.9'
automat==25.4.16; python_version >= '3.9'
bitarray==3.6.1; python_version >= '3.9' and python_version < '4'
blinker==1.9.0; python_version >= '3.9'
bytestring-splitter==2.4.1; python_version >= '3.9' and python_version < '4'
certifi==2025.8.3; python_version >= '3.7'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.3; python_version >= '3.7'
ckzg==1.0.2; python_version >= '3.9' and python_version < '4'
click==8.1.8; python_version >= '3.7'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
constant-sorrow==0.1.0a9; python_version >= '3'
constantly==23.10.4; python_version >= '3.8'
cryptography==43.0.3; python_version >= '3.7'
cytoolz==1.0.1; python_version >= '3.8'
dateparser==1.2.2; python_version >= '3.8'
discord.py==2.6.3; python_version >= '3.8'
ecdsa==0.19.1; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
eth-abi==5.2.0; python_version >= '3.8' and python_version < '4'
eth-account==0.11.3; python_version >= '3.8' and python_version < '4'
eth-hash[pycryptodome]==0.7.1; python_version >= '3.8' and python_version < '4'
eth-keyfile==0.9.1; python_version >= '3.8' and python_version < '4'
eth-keys==0.7.0; python_version >= '3.8' and python_version < '4'
eth-rlp==1.0.1; python_version >= '3.8' and python_version < '4'
eth-typing==3.5.2; python_full_version >= '3.7.2' and python_version < '4'
eth-utils==2.3.2; python_version >= '3.7' and python_version < '4'
flask==3.1.2; python_version >= '3.9'
frozenlist==1.7.0; python_version >= '3.9'
hendrix==5.0.0; python_version >= '3.9' and python_version < '4'
hexbytes==0.3.1; python_version >= '3.7' and python_version < '4'
humanize==4.12.3; python_version >= '3.9'
hyperlink==21.0.0; python_version >= '3.9' and python_version < '4'
idna==3.10; python_version >= '3.6'
incremental==24.7.2; python_version >= '3.8'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
jsonpath-ng==1.7.0; python_version >= '3.9' and python_version < '4'
jsonschema==4.25.1; python_version >= '3.9'
jsonschema-specifications==2025.4.1; python_version >= '3.9'
lru-dict==1.2.0
mako==1.3.10; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
marshmallow==3.26.1; python_version >= '3.9'
maya==0.6.1; python_version >= '3.9' and python_version < '4'
mnemonic==0.21; python_full_version >= '3.8.1'
msgpack-python==0.5.6; python_version >= '3.9' and python_version < '4'
multidict==6.6.4; python_version >= '3.9'
nucypher @ git+https://github.com/nucypher/nucypher.git@02fe48bcecd919f25b938d1414df7fe9df375833
nucypher-core==0.15.0; python_version >= '3.9' and python_version < '4'
nucypher-pychalk==2.0.2; python_version >= '3.9' and python_version < '4'
nucypher-snaptime==0.2.5; python_version >= '3.9' and python_version < '4'
packaging==23.2; python_version >= '3.7'
parsimonious==0.10.0; python_version >= '3.9' and python_version < '4'
pendulum==3.1.0; python_version >= '3.9'
ply==3.11; python_version >= '3.9' and python_version < '4'
prometheus-client==0.22.1; python_version >= '3.9'
propcache==0.3.2; python_version >= '3.9'
protobuf==6.32.0; python_version >= '3.9'
py-ecc==8.0.0; python_version >= '3.8' and python_version < '4'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pychalk==2.0.1
pycparser==2.22; python_version >= '3.8'
pycryptodome==3.23.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
pydantic==2.11.7; python_version >= '3.9'
pydantic-core==2.33.2; python_version >= '3.9'
pyjwt[crypto]==2.10.1; python_version >= '3.9'
pynacl==1.5.0; python_version >= '3.6'
pyopenssl==25.1.0; python_version >= '3.7'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.1.1; python_version >= '3.9'
python-statemachine==2.3.4; python_version >= '3.7'
pytz==2025.2; python_version >= '3.9' and python_version < '4'
pyunormalize==16.0.0; python_version >= '3.6'
referencing==0.36.2; python_version >= '3.9'
regex==2025.7.34; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
rlp==4.1.0; python_version >= '3.8' and python_version < '4'
rpds-py==0.27.0; python_version >= '3.9'
service-identity==24.2.0; python_version >= '3.8'
setuptools==80.9.0; python_version >= '3.9'
siwe==4.2.0; python_version >= '3.8' and python_version < '4.0'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
snaptime==0.2.4
tabulate==0.9.0; python_version >= '3.7'
time-machine==2.19.0; python_version >= '3.9'
toolz==1.0.0; python_version >= '3.8'
twisted==24.11.0; python_full_version >= '3.8.0'
txaio==23.6.1; python_version >= '3.9'
typing-extensions==4.14.1; python_version >= '3.9'
typing-inspection==0.4.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
tzlocal==5.3.1; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
watchdog==3.0.0; python_version >= '3.7'
web3==6.20.1; python_full_version >= '3.7.2'
websockets==15.0.1; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
yarl==1.20.1; python_version >= '3.9'
zope-interface==7.2; python_version >= '3.8'
